.catalog-body__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vmin, 1fr));
    gap: 38px 17px;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
