.header {
    background-color: var(--c-light);
}

.header__menu-list {
    display: flex;
    list-style: none;
    column-gap: 24px;
}

.header__menu-link {
    color: var(--c-darkgrey);
}

.header__menu-link.is-active {
    color: var(--c-accent);
}